//Created by Hlavo on 13.4.16.
mixin About
   section.section.section--about#about
      header.section__header
         h3.section__header__title=sectionabout.title
      main.section__main
         p.section__main__text=sectionabout.text