//Created by Hlavo on 13.4.16.
mixin About
   section.section.section--about#about
      header.section__header
         h3.section__header__title O mne
      main.section__main
         p.section__main__text Lorem Ipsum je štandardným výplňovým textom už od 16. storočia, keď neznámy tlačiar zobral.
            |Lorem Ipsum je štandardným výplňovým textom už od 16. storočia, keď neznámy tlačiar zobral.
         p.section__main__text Lorem Ipsum je štandardným výplňovým textom už od 16. storočia, keď neznámy tlačiar zobral.
            | Lorem Ipsum je štandardným výplňovým textom už od 16. storočia, keď neznámy tlačiar zobral.