//Created by Hlavo on 13.4.16.
mixin Nav
   nav.nav.nav-mobile.nav-mobile__status--hide#mobile-nav
      .nav-mobile__wrapper
         span
         span
         span
         span
   nav.nav.nav-classic
      ul.nav-clasic__wrapper
         each item in nav__item
            li.nav__item
               a(href=item.href).nav__item__link=item.text