//Created by Hlavo on 13.4.16.
mixin Skill
   section.section.section--skill#skill
      header.section__header
         h3.section__header__title=sectionskill.title
      main.section__main
         p.section__main__text=sectionskill.text
         .row
            each item in sectionskill.items
               .col.col__3.col__3--md.skill
                  h3.skill__header=item.title
                  ul.skill__list
                     each skill in item.skills
                        li.skill__list__item=skill