//Created by Hlavo on 13.4.16.
mixin Contact
    section.section.section--contact
        header.section__header
            h3.section__header__title.section__header__title--white Kontakt
        main.section__main
            .row
                .col.col__6.col__6--md
                    .row
                        .col.col__6.col__6--xs
                            ul.contact
                                li.contact__item
                                    i.fa.fa-phone(aria-hidden="true")
                                    a(href="tel:+4201231234").contact__item__link
                                        span +420 123 1234
                                li.contact__item
                                    i.fa.fa-envelope-o(aria-hidden="true")
                                    a(href="mailto:hlavodesign@gmail.com").contact__item__link hlavodesign@gmail.com
                                li.contact__item
                                    i.fa.fa-map-marker(aria-hidden="true")
                                    a(href="#map").contact__item__link.contact__item__link--map Hadovitá 898/16 <br>Praha, Česká republika
                        .col.col__6.col__6--xs
                            .photo
                .col.col__6.col__6--md
                    form(method="post").form
                        label.form__label
                            input(type="text", name="meno",required, autocomplete="off").form__label__item
                            .form__label__text Meno
                        label.form__label
                            input(type="email", name="email",required, autocomplete="off").form__label__item
                            .form__label__text Email
                        label.form__label
                            textarea(type="text", name="meno",required, autocomplete="off").form__label__item.form__label__item--textarea
                            .form__label__text Sprava
                        div.form__wrapper
                            button(type="submit",placeholder="Message").form__label__item.form__label__item--button Pošlite mi správu
        footer.section__footer
            .row
                .col.col__6.col__6--sm
                    span Handcrafted with ♥ by © hlavoDesign
                .col.col__6.col__6--sm
                    ul.buttons
                        li.buttons__item
                            a(href="#",target="_blank").buttons__item__link.buttons__item__link--fb Facebook
                        li.buttons__item
                            a(href="#",target="_blank").buttons__item__link.buttons__item__link--li LinkedIn
                        li.buttons__item
                            a(href="#",target="_blank").buttons__item__link.buttons__item__link--gh GitHub
