include components/header/header.jade
include components/head/head.jade
include components/nav/nav.jade
include components/logo/logo.jade
include components/footer/footer.jade
include components/work/work.jade
include components/about/about.jade
include components/contact/contact.jade
include components/skill/skill.jade
include components/overlay/overlay.jade