include injected.jade
+Head()
body
    +Preloader()
    +Overlay()
    .container
        +Header()
        .main
            main
                +About()
                +Work()
                +Skill()
            +Footer()
