//Created by Hlavo on 13.4.16.
mixin Flags
   .flags
      a(href!="<?=BASE_URL?>").flags__item
         img(src="images/Slovakia-icon.png").flags__item__img
      a(href!="<?=BASE_URL?>en").flag__item
         img(src="images/England-icon.png").flags__item__img