//Created by Hlavo on 13.4.16.
mixin Head
   doctype html
   html
      head
         title HlavoDesign
         meta(charset="utf-8")
         meta(charset="utf-8")
         meta(name="keywords" content="hlavo,web,design,aplikácia")
         meta(name="description" content="HlavoDesign, tvorba webov a webových aplikácií.")
         meta(http-equiv="X-UA-Compatible" content="IE=edge")
         meta(name="viewport" content="width=device-width, initial-scale=1")
         meta(name="author" content="HlavoDesign")
         link(rel="stylesheet" href!="<?=BASE_URL?>styles/style.css")
         link(rel="icon" type="image/png" href="../favico/favicon-32x32.png" sizes="32x32")
         link(rel="icon" type="image/png" href="../favico/favicon-16x16.png" sizes="16x16")
         link(href='https://fonts.googleapis.com/css?family=Palanquin:400,100,300&subset=latin,latin-ext' rel='stylesheet' type='text/css')
         script(src="http://maps.googleapis.com/maps/api/js")
         script(src!="<?=BASE_URL?>scripts/app.js")
